<h1>Add a run</h1>

<%= form_for @run, url: { action: "create" } do |f| %>
  <p>
    <%= f.label :distance %>
    <%= f.number_field :distance %>
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </p>
  <p>
    <%= f.label :avgpulse %>
    <%= f.number_field :avgpulse %>
  </p>
  <%= f.hidden_field :workout_id %>
  <p>
    <%= f.submit "Add run", class: "btn" %>
  </p>
<% end %>