<h1>New strength exercise</h1>

<%= form_for @strex, url: { action: 'create' } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :reps %>
    <%= f.number_field :reps %>
  </p>
  <p>
    <%= f.label :pauseduration %>
    <%= f.number_field :pauseduration %>
  </p>
  <p>
    <%= f.label :sets %>
    <%= f.number_field :sets %>
  </p>
  <p>
    <%= f.hidden_field :workout_id %>
    <%= f.submit "Add run", class: "btn" %>
  </p>
  
<% end %>