<!DOCTYPE html>
<html>
<head>
  <title>Mission Impossible Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container allcontent" style="width: 960px;">
  <%= render "layouts/header" %>
	<div class="maincontent">
	<br />
	  <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
		<%= yield %>
	</div>
  <%= render "layouts/footer" %>
</div>
<%= javascript_include_tag "retina" %>
</body>
</html>
